<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="h2">New Branch</h1>
      <%= link_to "Back to Branches", admin_branches_path, class: "btn btn-outline-secondary mb-3" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @branch, url: admin_create_branch_path, local: true do |form| %>
            <% if @branch.errors.any? %>
              <div class="alert alert-danger">
                <h6>Please fix the following errors:</h6>
                <ul class="mb-0">
                  <% @branch.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <%= form.label :name, "Branch Name", class: "form-label" %>
                  <%= form.text_field :name, class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <%= form.label :r_no, "R.No", class: "form-label" %>
                  <%= form.text_field :r_no, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <%= form.label :english_address, "Address (English)", class: "form-label" %>
              <%= form.text_area :english_address, rows: 3, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :kannada_address, "Address (Kannada)", class: "form-label" %>
              <%= form.text_area :kannada_address, rows: 3, class: "form-control" %>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <%= form.label :phone_no, "Phone Number", class: "form-label" %>
                  <%= form.text_field :phone_no, class: "form-control" %>
                </div>
              </div>
            </div>

            <hr class="my-4">
            <h5 class="mb-3">Branch Manager Details</h5>

            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <%= form.label :manager_name, "Manager Name", class: "form-label" %>
                  <%= form.text_field :manager_name, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <%= form.label :manager_address, "Manager Address", class: "form-label" %>
              <%= form.text_area :manager_address, rows: 3, class: "form-control" %>
            </div>

            <div class="d-grid">
              <%= form.submit "Create Branch", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
